.table_row{
  background-color: #556a26;
  border-radius: 40px 40px 0px 0px;
  height: 56px;
}
.data_row{
  background-color: #000000e6;
  border-radius: 0 0 40px 40px;
  min-height: 100px;
  .search_select{
    border: none !important;
  }
}
table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}
.c_33 {
  width: 33%;
}
.c_22 {
  width: 16.66%;
}

.cart_data {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  min-height: 300px;
  border-radius: 20px;
  border-top-left-radius: 0px;
  padding: 5%;
  color: white;
}


.input_div {
  background-color: #333333 !important;
  border-radius: 20px;
  min-height: 40px;
  input {
    width: 100%;
    background: transparent;
    border: transparent;
    color: white;
    margin: auto;
    height: 100%;
    font-size: 12px;
    outline: none;
  }
}
.coupon {
  position: relative;
  .coupon_send_btn {
    position: absolute;
    background-color: #262626;
    top: 0%;
    border-radius: 0% 20px 20px 0px;
    height: 100%;
    height: 100%;
    bottom: 0%;
    right: 0%;
    .icon{
      // margin: 25%;
    }
    i{
      // margin: 25%;
      color: #ccff5c;
    }
  }
}
.total_div {
  background-color: #556a26;
  border-radius: 20px;
  border-top-left-radius: 0px;
  padding: 5%;
  color: white;
  margin-top: 4%;
}
