.popup_parent {
  .popup {
    transition: 1s;
    transform: scale(1);
    //display: none;
    
    width: 40vh;
    min-height: 40vh;
    background-color: #231f20;
    border-radius: 20px ;
    border: 1px solid #97be41;
    left: -120%;
    top: 10%;
    z-index: 10;
    padding: 6%;
  }
}