.side_nav_parent {
  position: absolute;
  left: 0;
  // width: 20vw;
  width: 15vw;
  height: auto;
  z-index: 99;
  top: 0%;
  bottom: 0%;

  .side_nav {
    position: absolute;
    width: 100%;
    top: 20%;
    bottom: 20%;
    height: auto;
    color: #ffffff;
    min-height: 20vh;
    margin-left: 20%;

    .line {
      width: 2px;
      height: 100%;
      background: rgb(184, 228, 85);
      background: linear-gradient(0deg, rgba(85, 106, 38, 1) 0%, rgba(185, 228, 85, 0.089) 80%);
    }
    .points {
      position: absolute;
      top: 20%;
      left: -5.5%;
      width: 100%;
      min-height: 20vh;
      .point {
        
        cursor: pointer;
        margin-top: 5%;
        margin-bottom: 8%;
        .ball {
          margin: auto;
          width: 15px;
          height: 15px;
          border-radius: 50%;
          background: #556A26;
        }
        .white_ball{
          margin: auto;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background: white;
        }
        .text {
          color: rgba(255, 255, 255, 0.397);
          font-size: 16px;
        }
      }
      .point_child{
        cursor: pointer;
        margin-top: 5%;
        margin-bottom: 8%;
        .ball {
          margin: auto;
          width: 15px;
          height: 15px;
          border-radius: 50%;
          background: #556A26;
        }
        .white_ball{
          margin: auto;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background: white;
        }
        .text {
          color: rgba(255, 255, 255, 0.397);
          font-size: 12px;
        }
      }
      .active {
        .ball{
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background: #97BE41;
        }
        .text {
          color: rgba(255, 255, 255, 1);
          font-size: 20px;
        }
      }
    }
  }
}
