<div class="parent-container w-100 back overflow-hidden p-0">
  <div class="leaf_top d-none d-md-block">
    <div class="content">
      <img src="/assets/images/new/leaf_top.webp" class="col-xxxl-12 col-md-8" alt="the back to origins" srcset="">
    </div>

  </div>
  <div class="leaf_middle d-none d-md-block">
    <div class="content d-flex flex-row-reverse">
      <img src="/assets/images/new/leaf_middle.webp" class="col-xxxl-12 col-md-8" alt="the back to origins" srcset="">
    </div>
  </div>


  <div class="container px-0">

    <div class="w-100 row m-0 p-0 ">
      <!-- cart -->
      <div #cart_view id="cart_view" *ngIf="show==1"
        [class]="'h-100  pt-5 position-relative bg-1 page section d-grid align-items-center' ">

        <div class="row  mt-5 pt-3 pt-md-5 px-3 px-md-4">
          <div class="col-12 mb-4">
            <div class="text_div_fix col-12 col-md-4">
              <h2 class="heading_1_thin white_text ">{{selected_section_text}}</h2>
              <hr class="w-50 m-0">
            </div>
          </div>

          <div *ngIf="cart.cart_items.length>0" class="col-12 col-md-8 mx-auto px-0 px-md-3 d-none d-md-block">
            <table mat-table [dataSource]="dataSource" matSort>


              <ng-container matColumnDef="product_name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="c_33">
                  <div class="table_th_data">
                    <div class="table_heading">
                      <p> Product Name</p>
                    </div>
                  </div>
                </th>
                <td mat-cell *matCellDef="let row" class="c_33">
                  <div class="table_td_data table_td_first_data">
                    <div class="table_data first_data">
                      <div class="row img_row">
                        <div class="col-3">
                          <img class="w-100" src={{row.product_images}} alt=" the back to origins products">
                        </div>
                        <div class="col-8 img_row_p">
                          <p>{{row.product_variant_name}} </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </ng-container>


              <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="c_22">
                  <div class="table_th_data">
                    <div class="table_heading">
                      <p>Price</p>
                    </div>
                  </div>
                </th>
                <td mat-cell *matCellDef="let row" class="c_22">
                  <div class="table_td_data">
                    <div class="table_data py-4">
                      <p>{{currency}}{{row.product_price}}</p>
                    </div>
                  </div>
                </td>
              </ng-container>


              <ng-container matColumnDef="qty">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="c_22">
                  <div class="table_th_data">
                    <div class="table_heading">
                      <p>Qty</p>
                    </div>
                  </div>
                </th>
                <td mat-cell *matCellDef="let row" class="c_22">
                  <div class="table_td_data">
                    <div class="table_data ">
                      <div class="row">
                        <div class="col-2"></div>
                        <div class="col-2 px-0 py-4 clickable" *ngIf="row.qty>1" (click)="mineone(row)">
                          <mat-icon>do_not_disturb_on</mat-icon>
                        </div>
                        <div class="col-2 px-0 py-4" *ngIf="row.qty==1"><mat-icon
                            style="color: rgb(9, 61, 9);">do_not_disturb_on</mat-icon></div>
                        <div class="col-4 px-1 py-4">
                          <p>{{row.qty}}</p>
                        </div>
                        <div class="col-2 px-0 py-4 clickable" (click)="addone(row)"><mat-icon>add_circle</mat-icon>
                        </div>
                        <div class="col-2"></div>
                      </div>
                    </div>
                  </div>
                </td>
              </ng-container>


              <ng-container matColumnDef="discount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="c_22">
                  <div class="table_th_data">
                    <div class="table_heading">
                      <p>Discount</p>
                    </div>
                  </div>
                </th>
                <td mat-cell *matCellDef="let row" class="c_22">
                  <div class="table_td_data  ">
                    <div class="table_data py-4">
                      <p>0</p>
                    </div>
                  </div>
                </td>
              </ng-container>


              <ng-container matColumnDef="total">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="c_22">
                  <div class="table_th_data">
                    <div class="table_heading">
                      <p>Total</p>
                    </div>
                  </div>
                </th>
                <td mat-cell *matCellDef="let row" class="c_22">
                  <div class="table_td_data  table_td_last_data">
                    <div class="table_data py-4 last_data d-flex">
                      <div class="col-1"></div>
                      <p class="col-6">{{currency}}{{isPrecise(row.qty*row.product_price)}}</p>
                      <div class="col-2 mx-auto clickable" (click)=" removeone(row)"><mat-icon>cancel</mat-icon></div>
                      <div class="col-1"></div>
                      <!-- <div class="row">
                        <div class="col-1"></div>
                        <div class="col-6 d-flex justify-content-center">
                         
                        </div>
                        <div class="col-2 py-4" (click)=" removeone(row)"><mat-icon>cancel</mat-icon></div>
                        <div class="col-3"></div>
                      </div> -->
                    </div>
                  </div>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>
            <mat-paginator [pageSizeOptions]="[5, 10]" aria-label="Select page of users"></mat-paginator>

          </div>
          <!-- MOBILE VIEW -->
          <div *ngIf="cart.cart_items.length>0" class="col-12 col-md-8 mx-auto px-0 px-md-3 d-block d-md-none">
            <div *ngFor="let item of cart.cart_items" class="w-100 row  m-0 mb-2 mobile-cart-item">
              <div class="col-3 px-1">
                <img class="w-100" src={{item.product_images}} alt=" the back to origins products">
              </div>
              <div class="col-8 p-0">
                <h5 class="white_text">{{item.product_variant_name}}</h5>
                <div class="w-100 row p-0 m-0">
                  <div class="col-5 d-grid align-items-center">
                    <p class="white_text m-0">{{item.product_price}}</p>
                    <!-- <p class="white_text sma">{{0}}</p> -->
                  </div>
                  <div class="col-7">
                    <div class="row p-0  m-0">
                      <div class="col-2 px-0 pt-2 clickable" *ngIf="item.qty>1" (click)="mineone(item)">
                        <mat-icon>do_not_disturb_on</mat-icon>
                      </div>
                      <div class="col-2 px-0 pt-2" *ngIf="item.qty==1"><mat-icon
                          style="color: rgb(9, 61, 9);">do_not_disturb_on</mat-icon>
                      </div>
                      <div class="col-4 px-1 pt-2 text-center">
                        <p class="white_text">{{item.qty}}</p>
                      </div>
                      <div class="col-2 px-0 pt-2 clickable" (click)="addone(item)"><mat-icon>add_circle</mat-icon>
                      </div>
                      <div class="col-2"></div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="col-1 m-0  d-flex p-0  ">
                <div class="w-100 mx-auto clickable" (click)=" removeone(item)"><mat-icon>cancel</mat-icon></div>
              </div>
            </div>

          </div>





          <div *ngIf="cart.cart_items.length==0" class="col-12 col-md-8 mx-auto px-0 px-md-3">
            <div class="row p-5 text-center">
              <h3 class="white_text">Your cart is currently empty. </h3>
            </div>
            <div class="row p-5 text-center">
              <div class="col-5 m-auto">
                <a rel="back to origins products" href="/products"><button class="btn green_btn py-3 px-4">CONTINUE SHOPPING</button></a>
              </div>
            </div>
          </div>

          <div *ngIf="cart.cart_items.length!=0" class="col-12 col-md-4 mx-auto px-0 px-md-1">
            <div class="data_pannel">
              <div class="row py-2">
                <div class="col-10">Item Count</div>
                <div class="col-2 text-end">{{getCartQTY()}}</div>
              </div>
              <div class="row py-2">
                <div class="col-9">Sub Total</div>
                <div class="col-3 text-end">{{currency}}{{isPrecise(cart.sub_total)}}</div>
              </div>
              <!-- <div class="row py-2">
                <div class="col-10">Delivery Charges</div>
                <div class="col-2 text-center">05</div>
              </div> -->
              <div class="row py-2">
                <div class="col-9">Loyalty Discounts</div>
                <div class="col-3 text-end">00</div>
              </div>
              <div class="row py-2">
                <div class="col-9">Other Discounts</div>
                <div class="col-3 text-end">00</div>
              </div>
              <!-- <div class="row py-2">
                      <div class="col-10">Saving Discounts</div>
                      <div class="col-2 text-center">05</div>
                    </div>
                    <div class="row py-2">
                      <div class="col-10">Total Discounts</div>
                      <div class="col-2 text-center">05</div>
                    </div> -->
              <!-- <div class="row py-2">
                <div class="col-6">Use Coupon Code
                  <p class="small_text">(If you have any Coupon Code please enter here)</p>
                </div>
                <div class="col-6 h-100 p-0 coupon">
                  <div class="h-100 col-12 input_div p-3">
                    <div class="col-8">
                      <input type="text" placeholder=" Coupon Code">
                    </div>

                  </div>
                  <div class="coupon_send_btn d-flex col-4">
                    <i class="material-icons m-auto md-24">send</i>
                  </div>

                </div>
              </div> -->

            </div>

            <div class="total_div">
              <div class="row">
                <div class="col-8">Total</div>
                <div class="col-4 text-center">{{currency}}{{isPrecise(cart.sub_total)}}</div>
              </div>
            </div>

            <div class="cartname_div" *ngIf="user">
              <div class="row ">
                <div class="col-12 input_div">
                  <input type="text" placeholder="Cart Name">
                </div>
                <div class="col-3 save_div px-0">
                  <div class="btn_div d-flex" (click)="saveCart()">
                    <p class="m-auto">SAVE</p>
                  </div>
                </div>
              </div>
            </div>
            <button class="btn green_btn w-100 p-3 mt-3" (click)="next(2)">Proceed to Checkout</button>
          </div>

        </div>
      </div>
      <!-- checkout -->
      <div #checkout id="checkout" *ngIf="show==2"
        [class]="'h-100  position-relative bg-1 page section d-grid align-items-center  mt-5' ">
        <app-checkout (continue)="next(3)"></app-checkout>
      </div>
      <!-- order_review -->
      <div #order_review id="order_review" *ngIf="show==3"
        [class]="'h-100  position-relative bg-1 page section d-grid align-items-center pt-5 mt-5' ">

        <app-order-review></app-order-review>
      </div>

    </div>



  </div>
  <div class="container-fluid p-0">
    <div id="instagram_feed" [class]="'   position-relative   section d-grid align-items-end' ">
      <div class="container-fluid p-0">
        <div class="row my-5 text-center">
          <!-- <h4 class="white_text" >Follow Us on Instagram @backtoorigins.lk</h4> -->

        </div>
        <div class="row px-0" id="box1" *ngIf="instagram_data">
          <ng-container *ngFor="let data of instagram_data.media.data;let i=index" class=" instagram_box">
            <div *ngIf="data.media_type=='IMAGE' && i<5" class="  col m-auto p-0">
              <a rel="back to origins instargram"  href={{data.permalink}}>
                <img src={{data.media_url}} alt=" the back to origins products" class="instagram_box_img w-100 h-100" srcset="">
              </a>
            </div>
          </ng-container>


        </div>
        <app-footer-sec></app-footer-sec>
      </div>
    </div>
  </div>
</div>