
.new_process_item_parent {
  position: relative;
  min-width: 30vw;
  min-height: 20vh;
}
.new_process_item_content {
  
  padding: 5%;
  position: absolute;

  background: #231f20;
  border: 1px solid #97be41;
  // transform: translate(-50%, -50%);
  border-radius: 50px 50px 50px 50px;
  color: #ffffff;
  h1 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
  }
}


.left_top {
  // left: 70%;
  border-radius: 50px 50px 50px 50px;
 
}

.right_top {
  // left: 70%;
  border-radius: 50px 50px 50px 50px;
}

.right_bottom {
  // right: 70%;
  border-radius: 50px 50px 50px 50px;
}

.left_bottom {
  // right: 70%;
  border-radius: 50px 50px 50px 50px;
}
.text_justify{
  text-align: justify;
}
@media (min-width: 300px) {
  .top{
    position: absolute!important;
    transform: translate(-50%,50%);
    top: 20%;
    width: 75%;
  }
  .new_process_item_content {
    max-width: unset;
    max-height: 60vh;
    overflow: scroll;
  }
 
  .img{
    position: absolute;
        top: -58%;
    left: -12%;
    width: 45%;
  }
}
@media (min-width: 992px) {
  .top{
    position: absolute!important;
      transform: translate(-50%, 50%);
      top: 30%;
      width: unset;
  }
 
  .new_process_item_content {
    max-width: 50vw;
    //max-height: 50vh;
    overflow: scroll;
  }
  .img{
    position: absolute;
    top: -90%;
    left: -35%;
    width: 45%;
  }
}