<div class="div top">
  <div class="new_process_item_parent">
    <div #new_process_item_content class="new_process_item_content pt-3">
      <div class="row flex-row-reverse">
        <div mat-dialog-close class="col-3 col-md-1">
          <mat-icon>close</mat-icon>
        </div>
      </div>
      <h1>{{data.element.icon_name}} </h1>
      <p class="text_justify">{{data.element.icon_description}}</p>
    </div>
    <div class="img">
      <img src={{data.element.icon_image}} class="w-100" alt="the back to origins {{data.element.icon_name}}" srcset="">
    </div>
  </div>
  
</div>

