<div class="row text-center mx-1 mt-4">
  <p class="white_text small_text mb-0">name</p>
  <div class="col-1 p-0 pro_pic_col">
    <div class="pro_pic_div">
      <img class="w-100  "
      src="https://swiperjs.com/demos/images/nature-1.jpg" />
    </div>
   
  </div>
  <div class="col-11 review_buble">
    <div class="row">
      <div class="col-8 text-start">
        <p class="white_text mb-0">name</p>
      </div>
      <div class="col-4 text-end">
        <app-rating-stars [rating]="4" class="review_rating"></app-rating-stars>
      </div>
    </div>
    <div class="row text-start mt-2">
      <p class="white_text mb-1">Smokey Sweet Chile Hickory Rub</p>
      <p class="white_text mb-0 small_text comment">The blurb describing the Rodney Scott - 'Smoky Sweet Chile Hickory Rub' was probably written by Rodney Scott. Save your cash and make your own rub !</p>
    </div>
  </div>
</div>