<div class="col-12 popup_parent">
  <div class="popup">
    <div class="row  ">
      <div class="col-12">
        <h2 class="heading_2 white_text">Here are <span class="green_text">TEN</span> reasons why you should buy <span class="green_text">Back To Origin </span>Products. </h2>
      </div>
      <div class="col-12 mt-5">
        <div class="row mt-2">
          <div class="col-1"><div class="ball white_text text-center d-grid align-items-center" > 1</div></div>
          <div class="col-11"><p class="white_text">All of our products contain only natural ingredients, and our claims 
            have been audited and certified by Control Union.</p></div>
        </div>
        <div class="row mt-2">
          <div class="col-1"><div class="ball white_text text-center d-grid align-items-center" > 2</div></div>
          <div class="col-11"><p class="white_text">Our products are free of artificial flavors, preservatives, MSG (including 
            Ajinomoto), and stock powder, allowing customers to experience the 
            taste of forgotten, authentic flavors.</p></div>
        </div>
        <div class="row mt-2">
          <div class="col-1"><div class="ball white_text text-center d-grid align-items-center" > 3</div></div>
          <div class="col-11"><p class="white_text">All BTO products are Certified Plant Based - USA, Certified 360 Degree 
            Sustainable - Netherlands. </p></div>
        </div>
        <div class="row mt-2">
          <div class="col-1"><div class="ball white_text text-center d-grid align-items-center" > 4</div></div>
          <div class="col-11"><p class="white_text">The product processing facility is ISO, HACCP, and GMP certified.</p></div>
        </div>
        <div class="row mt-2">
          <div class="col-1"><div class="ball white_text text-center d-grid align-items-center" > 5</div></div>
          <div class="col-11"><p class="white_text">Back To Origins products help beginners and pros cook delicious meals 
            without the hassle of searching for authentic ingredients, 
            cutting/cleaning, chopping, and grinding</p></div>
        </div>
        <div class="row mt-2">
          <div class="col-1"><div class="ball white_text text-center d-grid align-items-center" > 6</div></div>
          <div class="col-11"><p class="white_text">All BTO products are made at Ravana Garden, a National Geographic & 
            Condenast Johansens- UK acknowledged, international award winning, 
            sustainable luxury hotel.</p></div>
        </div>
        <div class="row mt-2">
          <div class="col-1"><div class="ball white_text text-center d-grid align-items-center" > 7</div></div>
          <div class="col-11"><p class="white_text">There is no salt added to either of our seasoning products.</p></div>
        </div>
        <div class="row mt-2">
          <div class="col-1"><div class="ball white_text text-center d-grid align-items-center" > 8</div></div>
          <div class="col-11"><p class="white_text">Yellow Curry, Seasonings, Tamarind Spread, and Specialty Coffee are 
            gluten free and also inspired by authentic centuries-old Ceylon recipes.</p></div>
        </div>
        <div class="row mt-2">
          <div class="col-1"><div class="ball white_text text-center d-grid align-items-center" > 9</div></div>
          <div class="col-11"><p class="white_text">Yellow Curry and 11 Spice Seasonings are recommended even for kids 
            because they are flavoury and not spicy. In fact, these are healthier 
            option for kids, the taste making them irresistible.</p></div>
        </div>
        <div class="row mt-2">
          <div class="col-1"><div class="ball white_text text-center d-grid align-items-center" > 10</div></div>
          <div class="col-11"><p class="white_text">Our generic spice products, such as Cinnamon, Pepper, and Cloves, are
            completely free of products from other origins. (all are pure Ceylon 
            products)</p></div>
        </div>
      </div>
    </div>
  </div>
</div>