<div class="row  px-3 px-md-4  ">

  <div class="col-12 mx-auto mb-2 table_row d-grid align-items-center">
    <p class="white_text mx-auto text-center m-0">Please Use this form to change your login password</p>
  </div>
  <div class="col-12 mx-auto data_row p-3">
    <div class="row">
      <div class="col-6">
        <mat-label>
          <p class="white_text label_text mb-2 pt-4">Current Password</p>
        </mat-label>
        <div class="row px-3">

          <mat-form-field class=" col-12 mx-auto p-2 search_select ">
            <input [type]="hide ? 'password' : 'text'" matInput class="w-100 white_text" placeholder="">
            <mat-icon matSuffix class="gray_text m-auto"(click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
              </mat-error> -->
          </mat-form-field>
        </div>
        
      </div>
      <div class="col-6"></div>
      <div class="col-6">
       

        <mat-label>
          <p class="white_text label_text mb-2 pt-4">New Password</p>
        </mat-label>
        <div class="row px-3">

          <mat-form-field class=" col-12 mx-auto p-2 search_select ">
            <input [type]="hide1 ? 'password' : 'text'" matInput class="w-100 white_text" placeholder="">
            <mat-icon matSuffix class="gray_text m-auto"(click)="hide1 = !hide1">{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
            <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
              </mat-error> -->
          </mat-form-field>
        </div>
      </div>
      <div class="col-6  ">

        

          <mat-label>
            <p class="white_text label_text mb-2 pt-4">Confirm New Password</p>
          </mat-label>
          <div class="row px-3">

            <mat-form-field class=" col-12 mx-auto p-2 search_select ">
              <input [type]="hide2 ? 'password' : 'text'" matInput class="w-100 white_text" placeholder="">
              <mat-icon matSuffix class="gray_text m-auto"(click)="hide2 = !hide2">{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
              <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error> -->
            </mat-form-field>
          </div>
       


        <div class="row flex-row-reverse mt-4">

          <button class="btn mb-3  green_btn col-4 mx-4 p-3 mt-3 ">Continue</button>

        </div>
      </div>
    </div>
  </div>
</div>