<div class="w-100" style="background-color: black;">
  <div class="container">
    <div class="row m-0 w-100 footer_sec p-0">
      <div class="w-100 row px-0 py-0 px-md-5 py-md-4">
        <div class="col-12 col-md-6 d-flex ">
          <div class=" col-12 col-md-8 h-100">
            <div class="row">
              <div class="col-3 col-md-2 px-auto px-md-0">
                <img class="w-100" src="assets/images/BTO-Verticle-Logo-light-green-back-darkbrown.webp"
                  alt="back to origins logo" srcset="">
              </div>
              <div class=" col-9 mx-auto">
                <div class="col-12 "><a href="#">
                    <p class="white_text heading_1_thin_footer">Back To Origins</p>
                  </a>
                </div>
                <div class="col-12 ">
                  <p class="white_text paragraph_footer" style="max-width: 400px;">
                    Ravana Garden's "Back to Origins" collection features authentic/sustainably produced Ceylon spices,
                    spice & herbal blends, and ready-to-eat products, allowing you to enjoy the aromatic flavors and
                    healthier options of different cuisines in the comfort of your own home.
                  </p>
                </div>
              </div>
    
            </div>
          </div>
        </div>
        <div class="col-12 d-flex flex-row-reverse col-md-6">
          <div class="col-12 col-md-8 h-100">
            <div class="row">
              <div class="col-4 col-md-4 d-none d-md-block pt-4 pt-md-0">
                <h3 class="white_text paragraph1">Site Links</h3>
                <div class="col-12  mt-4">
                  <p class="paragraph_footer0 clickable white_text" (click)="navigate('')">Home</p>
                  <p class="paragraph_footer0 clickable white_text" (click)="navigate('about-us')">About Us</p>
                  <p class="paragraph_footer0 clickable white_text" (click)="navigate('products')">Products</p>
                  <p class="paragraph_footer0 clickable white_text" (click)="navigate('recipes')">Recipes</p>
                  <p class="paragraph_footer0 clickable white_text" (click)="navigate('contact-us')">Contact Us</p>
                </div>
              </div>
              <div class="col-10 px-0 px-md-auto mx-auto col-md-8 pt-4 pt-md-0" style="max-width: 400px;">
                <h3 class="white_text paragraph_footer1">Get in Touch</h3>
                <div class="col-12  mt-4">
                  <a rel="ravanagarden" href="mailto:customerservice@ravanagarden.com" style="text-align: none;">
                    <p class="paragraph_footer0 white_text d-flex">
                      <mat-icon class="white_text mx-2">mail</mat-icon><span
                        class="d-grid white_text  align-content-center mx-2"><a class="white_text" href="mailto:customerservice@ravanagarden.com">customerservice@ravanagarden.com</a></span>
                    </p>
                  </a>
                  <p class="paragraph_footer0 white_text  d-flex"><mat-icon class="white_text mx-2">call</mat-icon><span
                      class="d-grid  align-content-center  mx-2"><a   class="white_text" href="callto:+61421484290">+61421484290</a></span></p>
                  <p class="paragraph_footer0 white_text  d-flex"><mat-icon class="white_text mx-2">pin_drop</mat-icon><span
                      class="d-grid  align-content-center mx-2">Ravana Garden, Velipatanvila Road, Nonagama 82100,Sri
                      Lanka.</span>
                  </p>
    
                </div>
                <div class="row ">
                  <div class="col-12 col-md-12 mt-4">
                    <h3 class="white_text paragraph_footer1">Follow us on</h3>
                  </div>
    
                  <div class="row">
    
                    <div class="col-2 mx-2 p-1">
                      <a rel="backtoorgins facebook " href="https://www.facebook.com/backtoorgins?mibextid=ZbWKwL" target="_blank" class="w-100 d-flex">
                        <img src="assets/images/social_media/facebook.webp" class="w-75 m-auto  ratio ratio-1x1" alt="back to origins facebook"
                          srcset="">
                      </a>
                    </div>
                    <div class="col-2 mx-2 p-1">
                      <a rel="backtoorigins instagram" href="https://instagram.com/backtoorigins.lk?igshid=OGQ2MjdiOTE=" target="_blank" class="w-100 d-flex">
                        <img src="assets/images/social_media/insta.webp" class="w-75 m-auto ratio ratio-1x1" alt="back to origins instagram"
                          srcset="">
                      </a>
                    </div>
                    <div class="col-2 mx-2 p-1">
                      <a rel="backtoorigins youtube" href="https://www.youtube.com/@BacktooriginsEasyRecipes"  target="_blank" class="w-100 d-flex">
                        <img src="assets/images/social_media/youtube.webp" class="w-75 m-auto ratio ratio-1x1" alt="back to origins youtube"
                          srcset="">
                      </a>
                    </div>
                    <div class="col-2 mx-2 p-1">
                      <a rel="backtoorigins linkedin" href="https://www.linkedin.com/company/back-to-origins/?trk=similar-pages&originalSubdomain=lk" target="_blank" class="w-100 d-flex">
                        <img src="assets/images/social_media/linkdin.webp" class="w-75 m-auto  ratio ratio-1x1" alt="back to origins linkdin"
                          srcset="">
                      </a>
                    </div>
                  </div>

                </div>
              </div>
    
            </div>
          </div>
        </div>
      </div>
    
    </div>
  </div>
</div>

<div class="w-100 d-flex" style="background-color: #212C31;">
  <div class="col-6 col-md-2 my-3 d-flex text-center mx-auto">
    <p class="Caption_text white_text m-auto">Powered By</p>
    <img src="assets/images/ambrum logo.webp" class="col-5" alt="back to origins ambrum solutions" srcset="">
  </div>
</div>