.top_nav{
  min-height: 10vh;
   padding: 0%;
}
a{
  color: white !important;
  font-weight: 350;
  font-size: 16px;
  line-height: 19px;
}
.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none !important
}
.left-link{

  background-size: cover;
  text-align: center;
  font-family: 'D-DIN';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 33px;
  /* identical to box height */
  
  
  color: #F7EF29 !important;

}
.home_item::after{
  content: "";
 
}
.right-link{
  background-size: cover;
  text-align: center;
  font-family: 'D-DIN';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 33px;
  /* identical to box height */
  
  
  color: #F7EF29 !important;

}
.navbar{
  position: fixed;
  width: 100%;
  
  background-color: transparent !important;
  // box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  li{
    position: relative;
    img{
      position: absolute;
      top: -5vh;
    }
  }
}
.nav-item{
  height: 75%;
}
.navbar-collapse{

  height: 100vh!important;
    background: black;
    top: 0;
    width: 100%;
    position: absolute;
    padding: 7%;
    background: linear-gradient(90deg,black 20%,rgba(255,255,255,0) 100%);
}
button{
  border: none;
 
}
.md_logo_parent{
  position: relative;
  height: 100%;
  .md_logo{
    width: 100%;
    position: absolute;
    top: -50%;
  }
}

@media screen and (min-width: 920px) {
  .top_nav{
     min-height: 10vh !important;
    
  }
  .navbar-collapse{
    height: 10vh !important;
    background: transparent;
    top: inherit;
    width: inherit;
    padding: inherit;
    position: inherit;
  }
  .home_item::after{
    content: " ";
    background: url("/assets/images/nav_tree.webp") no-repeat;
   
    background-size: contain;
    width: 58px;
    height: 8vh;
    display: block;
    position: absolute;
    right: -4%;
  }
  .nav-item{
    height: 100%;
  }
}
.home{
  background: url("/assets/images/wood_home.webp") no-repeat center;
  background-size: contain;

}
.about_us{
  background: url("/assets/images/wood_about_us.webp") no-repeat center;
  background-size: contain;
}
.products{
  background: url("/assets/images/wood_products.webp") no-repeat center;
  background-size: contain;
}
.recipes{
  background: url("/assets/images/wood_recipes.webp") no-repeat center;
  background-size: contain;
}
.contact_us{
  background: url("/assets/images/wood_contact_us.webp") no-repeat center;
  background-size: contain;
}