<nav class="navbar navbar-expand-lg pb-3 navbar-dark sticky-top p-0">
  <div class="container-fluid top_nav">
    <div class="w-100 d-flex h-100 d-block d-lg-none">
      <div class="col-1 py-3 ">
        <button class="navbar-toggler p-0 w-100" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <img src="assets/images/icons/menu_icon.svg" alt="the back to origins" class="w-100" srcset="">
        </button>
      </div>
      <!-- <div class="col-2 py-3 ">
        <a class="" href="/profile"><button class="btn"><mat-icon>account_circle_outline</mat-icon></button></a>
      </div> -->
      <div class="col-2  col-md-3 px-3 md_logo_parent ">
        <img class="md_logo" src="assets/images/BTO-Verticle-Logo-light-green-back-darkbrown.webp" alt="the back to origins" srcset="">
      </div>
      <div class="col-4"></div>


      <!-- <div class="col-1 py-3 ">
        <button class="btn"><mat-icon>search</mat-icon></button>
      </div>
      <div class="col-1 py-3 ">
        <button class="btn"><mat-icon>favorite_outline</mat-icon></button>
      </div>
      <div class="col-1 py-3 ">
        <a class="" href="/cart"><button class="btn"><mat-icon>shopping_cart_outline</mat-icon></button></a>
      </div> -->
    </div>




    <div class="collapse navbar-collapse "  id="navbarSupportedContent">
               
      <ul class="navbar-nav m-auto mb-2 mt-0 h-100 w-75 justify-content-center">
        <li class="nav-item m-auto mx-5 w-50 h-100 p-0 d-none d-lg-block">
          <a rel="" class="nav-link m-auto h-100" href="/">
            <img class="w-100" style="top: 0 !important;" src="assets/images/BTO-Verticle-Logo-light-green-back-darkbrown.webp" alt="the back to origins" srcset="">
          </a>
        </li>
        <li class="nav-item d-md-block px-0 m-auto w-100  h-25">
          <div class="d-block d-md-none position-relative">
            <button class="btn position-absolute  " style="right: 0;" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation"><mat-icon style="color: white !important;"><span class="material-symbols-outlined">
              cancel
              </span></mat-icon></button>
          </div>
        </li>
        <li class="nav-item   m-auto w-100 ">
          <a  rel=" back to origins home" class="nav-link home_item home d-grid align-items-center left-link m-auto h-100" href="#"> </a>
        </li>
        <li class="nav-item  m-auto w-100 ">
          <a rel=" back to originsabout us" class="nav-link d-grid about_us align-items-center right-link m-auto h-100" href="/about-us"> </a>
        </li>
        <li class="nav-item m-auto w-100 ">
          <a rel=" back to origins products" class="nav-link d-grid products align-items-center  left-link m-auto h-100" href="/products"> </a>
        </li>
        <li class="nav-item m-auto w-100  ">
          <a rel=" back to origins recipes" class="nav-link d-grid recipes align-items-center right-link m-auto h-100" href="/recipes"> </a>
        </li>
        <li class="nav-item m-auto w-100  ">
          <a rel=" back to origins contact us" class="nav-link d-grid contact_us align-items-center left-link m-auto h-100" href="/contact-us"> </a>
        </li>
        <!-- <li class="nav-item px-3 d-none d-lg-block m-auto w-100 h-100 ">
          <div class="d-flex">
            <div class="col"><button class="btn"><mat-icon>search</mat-icon></button></div>
            <div class="col"><button class="btn"><mat-icon>favorite_outline</mat-icon></button></div>
            <div class="col"><a class="" href="/cart"><button class="btn"><mat-icon>shopping_cart_outline</mat-icon></button></a></div>
            <div class="col"><a class="" href="/profile"><button class="btn"><mat-icon>account_circle_outline</mat-icon></button></a></div>
          </div>
          
        </li> -->
        <!-- <li class="nav-item px-3 m-auto w-100 h-100 dropdown">
           <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            More
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" [routerLink]="['/contact_us','contact']">Contact Us</a></li>
            <li><a class="dropdown-item" [routerLink]="['/contact_us','request']">Request a Booking</a></li>
          </ul>
        </li> -->
        
      </ul>
 
      

    </div>
  </div>
</nav>

