<div class="w-100 d-flex">
  <div class="col-2 d-flex m-auto" *ngFor="let num of rating_count">
    <mat-icon role="img" aria-hidden="true" dta-mat-icon-type="font"
      class="mat-icon m-auto notranslate material-icons mat-icon-no-color"
      data-mat-icon-type="font">star_rate</mat-icon>
  </div>
  
  <!-- <div class="col-2">
    <mat-icon role="img" aria-hidden="true" dta-mat-icon-type="font"
      class="mat-icon notranslate material-icons mat-icon-no-color"
      data-mat-icon-type="font">star_half</mat-icon>
  </div> -->
  <div class="col-2 d-flex m-auto" *ngFor="let num of remaining_count">
    <!-- <mat-icon role="img" aria-hidden="true" dta-mat-icon-type="font"
      class="mat-icon m-auto material-symbols-outlined notranslate material-icons mat-icon-no-color"
      data-mat-icon-type="font">star_outline</mat-icon> -->

  </div>
</div>
