.back{

  background: url('/assets/images/all_prod_back.png') no-repeat;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  left: 0;
  right: 0;
  .recipes{
    z-index: 2;
    position: relative;
    min-height: 80vh;
  }
}
.text_div {
  width: fit-content;

}
@media screen and (min-width: 980px) {
  .text_div {
  position: absolute;
  z-index: 1052;
  }
}
@media screen and (min-width: 200px) {
  .back{
    background: transparent;
  }
}
@media screen and (min-width: 620px) {
  .back{
    background: url('/assets/images/all_prod_back.png') no-repeat;
    background-size: cover;
  }
}
.fix_back {
  position: fixed;
 
  background: url("/assets/images/new/back_teansparent.webp") no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.leaf_top {
  position: absolute;
  top: 0;
  z-index: 1050;
  .content {
    width: fit-content;
    height: fit-content;
  }
  img{
    opacity: 70%;
  }
}

.leaf_middle {
  position: absolute;
  top: 40%;
  right: 0;
  z-index: 1050;
  .content {
    width: fit-content;
    height: fit-content;
  }
  img{
    opacity: 50%;
  }
}