<div #credentials_content
  [ngClass]="(is_active)?'w-100 active credentials_content  d-none d-md-block  p-0 mt-5':'container  d-none d-md-block   credentials_content  p-0 mt-5'">
  <div class="row icon_row">
    <div class="col-3 p-3">
      <div class="icon_wrapper icon_1"><img class="credentials_icon " src={{icons[0].icon_image}} alt="the back to origins{{icons[0].icon_name}}" srcset="">
        <div class="content">
          <h2>{{icons[0].icon_name}} </h2>
          <p class="text_justify">{{icons[0].icon_description}}</p>
        </div>
      </div>
    </div>
    <div class="col-3 p-3">
      <div class="icon_wrapper icon_2"><img class="credentials_icon " src={{icons[1].icon_image}} alt="the back to origins{{icons[1].icon_name}}"  srcset="">
        <div class="content">
          <h2>{{icons[1].icon_name}} </h2>
          <p class="text_justify">{{icons[1].icon_description}}</p>
        </div>
      </div>
    </div>
    <div class="col-3 p-3">
      <div class="icon_wrapper icon_3"><img class="credentials_icon " src={{icons[2].icon_image}} alt="the back to origins{{icons[2].icon_name}}"  srcset="">
        <div class="content">
          <h2>{{icons[2].icon_name}} </h2>
          <p class="text_justify">{{icons[2].icon_description}}</p>
        </div>
      </div>
    </div>
    <div class="col-3 p-3">
      <div class="icon_wrapper icon_4"><img class="credentials_icon " src={{icons[3].icon_image}} alt="the back to origins{{icons[3].icon_name}}"  srcset="">
        <div class="content">
          <h2>{{icons[3].icon_name}} </h2>
          <p class="text_justify">{{icons[3].icon_description}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row icon_row  py-3">
    <div class="col-3 p-3">
      <div class="icon_wrapper icon_5"><img class="credentials_icon " src={{icons[4].icon_image}} alt="the back to origins{{icons[4].icon_name}}"  srcset="">
        <div class="content">
          <h2>{{icons[4].icon_name}} </h2>
          <p class="text_justify">{{icons[4].icon_description}}</p>
        </div>
      </div>
    </div>
    <div class="col-3 p-3">
      <div class="icon_wrapper icon_6"><img class="credentials_icon " src={{icons[5].icon_image}} alt="the back to origins{{icons[5].icon_name}}"  srcset="">
        <div class="content">
          <h2>{{icons[5].icon_name}} </h2>
          <p class="text_justify">{{icons[5].icon_description}}</p>
        </div>
      </div>
    </div>
    <div class="col-3 p-3">
      <div class="icon_wrapper icon_7"><img class="credentials_icon " src={{icons[6].icon_image}} alt="the back to origins{{icons[6].icon_name}}"  srcset="">
        <div class="content">
          <h2>{{icons[6].icon_name}} </h2>
          <p class="text_justify">{{icons[6].icon_description}}</p>
        </div>
      </div>
    </div>
    <div class="col-3 p-3">
      <div class="icon_wrapper icon_8"><img class="credentials_icon " src={{icons[7].icon_image}} alt="the back to origins{{icons[7].icon_name}}"  srcset="">
        <div class="content">
          <h2>{{icons[7].icon_name}} </h2>
          <p class="text_justify">{{icons[7].icon_description}}</p>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="w-100    d-block d-md-none p-0 mt-5">
  <div class="w-100 row  m-0 position-relative">
    <div class="col-3 position-absolute">
      <img class="credentials_icon w-100" src={{icons[0].icon_image}} alt="the back to origins{{icons[0].icon_name}}"  srcset="">
    </div>
    <div class="col-1"></div>
    <div class="col-11 p-5 text_content">
      <h2>{{icons[0].icon_name}} </h2>
      <p #description class="text-justify six_line">{{icons[0].icon_description}}</p>
      <button #readBtn class="btn green_text1" (click)="not_line_six()">Read More</button>
    </div>

  </div>
  
  <div class="row px-4 my-5 m-0">
    <ng-container *ngFor="let icon of icons;let i =index">
      <div *ngIf="i!=0" class="col-3 px-2 mt-4 mx-auto" (click)="changeActive(i)">
        <img class="credentials_icon w-100" src={{icon.icon_image}} alt="the back to origins{{icon.icon_name}}"  srcset="">
      </div>
    </ng-container>


  </div>
</div>