.credentials_content {
  .icon_row {
    height: fit-content;
    .icon_wrapper {
      position: relative;
      margin: auto;
      max-width: 136px;
      min-width: 136px;
      aspect-ratio: 1;
      .credentials_icon {
        width: 100%;
        position: absolute;
        transition: 1s ease-in;
        opacity: 0;
      }
        .content{
          opacity: 0;
        }
    
    }
    .icon_1 {
      img{
      left: -200%;
      }
    }
    .icon_2 {
      img{
      top: -200%;
      }
    }
    .icon_3 {
      img{
      top: -200%;
      }
    }
    .icon_4 {
      img{
      right: -200%;
      }
    }
    .icon_5 {
      img{
      bottom: -200%;
      }
    }
    .icon_6 {
      img{
      bottom: -200%;
      }
    }
    .icon_7 {
      img{
      bottom: -200%;
      }
    }
    .icon_8 {
      img{
      bottom: -200%;
      }
    }
  }
}
.active {
  .icon_row {
    .icon_wrapper {
      .content {
        display: block;
        background-color: rgb(0, 0, 0);
        z-index: -2;
        border-radius: 20px;
        min-width: 450%;
        padding: 20%;
        position: absolute;
      // transition: 1s ease-in;
        opacity: 0;
        color: white;
       
      }
      .credentials_icon {
        opacity: 1 !important;
        position: relative;
      }
     
    }
    .icon_wrapper:hover{
      .content{
        opacity: 1;
      }
    }
    .icon_1 {
      img{
        left: 0%;
        }
       
    }
    .icon_1:hover{
      .content{
        top: 50%;
        z-index: 2;
        left: 100%;
      }
    }

   
    .icon_2 {
      img{
      top: 0%;
      }
    }
    .icon_2:hover{
      .content{
        top: 50%;
        z-index: 2;
        left: 100%;
      }
    }

    .icon_3 {
      img{
      top: 0%;
      }
    }
    .icon_3:hover{
      .content{
        top: 50%;
        z-index: 2;
        right: 100%;
      }
    }

    .icon_4 {
      img{
      right: 0%;
      }
    }
    .icon_4:hover{
      .content{
        top: 50%;
        z-index: 2;
        right: 100%;
      }
    }
    .icon_5 {
      img{
      bottom: 0%;
      }
    }
    .icon_5:hover{
      .content{
        bottom: 50%;
        z-index: 2;
        left: 100%;
      }
    }
    .icon_6 {
      img{
      bottom: 0%;
      }
    }
    .icon_6:hover{
      .content{
        bottom: 50%;
        z-index: 2;
        left: 100%;
      }
    }
    .icon_7 {
      img{
      bottom: 0%;
      }
    }
    .icon_7:hover{
      .content{
        bottom: 50%;
        z-index: 2;
        right: 100%;
      }
    }
    .icon_8 {
      img{
      bottom: 0%;
      }
    }
    .icon_8:hover{
      .content{
        bottom: 50%;
        z-index: 2;
        right: 100%;
      }
    }
  }
}
.text_content {
  display: block;
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
 
  padding: 20%;

  color: white;
 
}
.six_line {
  // line-height: 1.2; /* adjust as needed */
  height: calc(1.2 * 3); /* multiply line-height by number of lines */
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5; /* limit to 4 lines */
}
